* {
	font-family: sans-serif 
}
body {
	border-spacing:0;
    border-collapse:collapse;
   margin-left:10em;
   margin-right:10em;
   background-color: #000000;
}

legend {
	color: #ffffff;
	font-size: 1.2em;
}

label {
	color: #ffffff;

}

h1 {
	color: #ffffff;

}


fieldset {
	display: inline-block;
}

input[type=submit] {
	background-color: #000000;
	color: #ffffff;
}

