.semantic-true {
	background-color: #e5e5e5;
	text-align: center;
	font-weight: bold;
}

.semantic-false {
	background-color: #e5e5e5;
	text-align: center;
	font-weight: bold;
}

.tag {
	text-align: left;
	font-weight: bold;
	background-color: #efefef
}

.description {
	text-align: left;
	background-color: #d1d1d1
}

.inline-true {
	text-align: center;
	background-color: #efefef;
	font-weight: bold;
}

.nothing {
	background-color: #efefef
}

.block-true {
	text-align: center;
	background-color: #efefef;
	font-weight: bold;
}

td {
	text-align: center;
	border-left-width: 0px;
	border-right-width: 0px;
}

th {
	text-align: center;
	border-left-width: 0px;
	border-right-width: 0px;
	background-color: #bebebe;
}

table {
	border-spacing:0;
    border-collapse:collapse;
  text-align:justify;
   margin-left:5em;
   margin-right:5em;
}

tr:hover td {
	background-color: #FFFF00;
}